
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


//app specific rules

.form-row {
    margin-top: 2rem;
}

input[type="number"] {
    width: 6rem;
    margin-bottom: 1.5rem;
}

input[type="email"], input#phone {
    width: 30rem;
}

textarea#customer_note {
    width: 50rem;
}

button#btn-plc-order {
    margin-bottom: 5rem;
}

div#confirm-cancel {
    margin-top: 6rem;
    margin-bottom: 5rem;
}

table#order-items {
    width: 100%;
}
@media (min-width: 500px) {
    table#order-items {
        width: 50%;
    }
}


.email-us {
    margin-top: 1.5rem;
}


@media print {
    div, p {
        font-size: 1.75rem;


    }
}
